body { margin: 10px;
}

header { 
  background-color: violet;
  color: navy;
  padding: 10px; 
}

section{
  background-color: coral;
  width: 50%;
  height: 300px;
  float: left;
}

.small-img {
 width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: teal;
}
